.hoverReplacement_12521621 {
  background-image: url('//payload532.cargocollective.com/1/23/738089/12950292/prt_495x227_1498051145.png');
}

.hoverReplacement_12521621:hover {
  background-image: url('//payload532.cargocollective.com/1/23/738089/12950292/prt_495x227_1498051145.png') !important;
}

.hoverReplacement_12521713 {
  background-image: url('//placekitten.com/g/200/200');
}

.hoverReplacement_12521713:hover {
  background-image: url('//placekitten.com/g/200/200') !important;
}
